.box {
  border-radius: 1rem;
  padding: 1.5rem 2rem;
  color: $white;
  max-width: 100%;
}

.gradient0 {
  background: $gardient0;
  box-shadow: $boxShadow0;
}

.gradient1 {
  background: $gardient1;
  box-shadow: $boxShadow1;
}

.gradient2 {
  background: $gardient2;
  box-shadow: $boxShadow2;
}

.gradient3 {
  background: $gardient3;
  box-shadow: $boxShadow3;
}
